[alias]
	s = status
	co = checkout
[user]
	name = t3hmun
	email = git@t3hmun.com
[core]
  editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
